* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.clearfix:after {
  content: '';
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

body {
  font-family: 'Helvetica Neue', Tahoma, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, STHeitiSC, sans-serif;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0 15px; }

li {
  list-style: none; }

.quiz-container {
  width: 100%;
  margin: 0 auto; }
  .quiz-container h2 {
    text-align: center;
    background: #4ea9fd;
    font-size: 24px;
    line-height: 50px;
    color: #fff; }
  .quiz-container .question-list p {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 300; }
  .quiz-container .question-list > li {
    padding: 0 40px;
    border-left: 6px dashed #4ea9fd;
    border-right: 6px dashed #4ea9fd; }
    .quiz-container .question-list > li:first-child {
      margin-top: 15px; }
  .quiz-container .answer-list li {
    color: #AAAAAA;
    position: relative;
    float: left; }
    .quiz-container .answer-list li input[type=radio] {
      position: absolute;
      visibility: hidden; }
    .quiz-container .answer-list li label {
      display: block;
      position: relative;
      font-weight: 300;
      padding: 0 15px 0 55px;
      margin: 0 auto;
      line-height: 40px;
      z-index: 9;
      cursor: pointer;
      font-size: 14px;
      -webkit-transition: all 0.25s linear; }
    .quiz-container .answer-list li .check {
      display: block;
      position: absolute;
      border: 3px solid #AAAAAA;
      border-radius: 100%;
      height: 20px;
      width: 20px;
      top: 10px;
      left: 20px;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear; }
    .quiz-container .answer-list li .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 10px;
      width: 10px;
      top: 2px;
      left: 2px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; }
  .quiz-container input[type=radio]:checked ~ .check {
    border: 3px solid #4ea9fd; }
    .quiz-container input[type=radio]:checked ~ .check::before {
      background: #4ea9fd; }
  .quiz-container input[type=radio]:checked ~ label {
    color: #4ea9fd; }
  .quiz-container .quiz-btn {
    display: inline-block;
    color: #fff;
    width: 30%;
    background: #4ea9fd;
    font-size: 18px;
    padding: 5px;
    line-height: 24px;
    margin-top: 20px;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 2px; }

footer {
  text-align: center;
  width: 100%;
  padding: 30px; }

.cd-popup {
  position: fixed;
  z-index: 300;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s; }

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s; }

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .cd-popup-container h3 {
    font-size: 24px;
    line-height: 36px; }
  .cd-popup-container a {
    text-decoration: none; }

.cd-popup-container p {
  padding: 15px;
  font-size: 15px;
  line-height: 24px; }

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both; }

.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%; }

.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em; }

.cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982; }

.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0; }

.cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8; }

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px; }

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5; }

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px; }

.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px; }

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto; } }

/*# sourceMappingURL=quiz.css.map */
